{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{% static 'app_01/stylesobre.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'ficha' %}">Ficha Técnica</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="text">

        <img src="https://rollingstone.uol.com.br/media/_versions/o_resgate_do_soldado_ryan_foto_reproducao_widelg.jpg" alt="Imagem do Filme">
        <h1>Sinopse:</h1>
        <p>Saving Private Ryan (O Resgate do Soldado Ryan) é um filme de guerra norte-americano de 1998, ambientado durante a Invasão da Normandia na Segunda Guerra Mundial. Foi dirigido por Steven Spielberg e escrito por Robert Rodat. O filme é notável por seu retrato gráfico da guerra e pela intensidade de seus primeiros 27 minutos, que inclui uma descrição do assalto à Praia de Omaha durante os desembarques da Normandia em 6 de junho de 1944. Depois, o filme acompanha Tom Hanks como Capitão John H. Miller e sete homens (Tom Sizemore, Edward Burns, Barry Pepper, Vin Diesel, Giovanni Ribisi, Adam Goldberg e Jeremy Davies) enquanto eles procuram pelo paraquedista James Francis Ryan (Matt Damon), que é o último sobrevivente de quatro irmãos militares.</p>
        <h2>Curiosidades sobre o Filme:</h2>
        <p>Rodat veio com a história do filme em 1994, quando viu um monumento dedicado aos quatro filhos de Agnes Allison em Port Carbon, na Pensilvânia. Os irmãos foram mortos na Guerra Civil Americana. Rodat decidiu escrever uma história similar, ambientada na Segunda Guerra Mundial. O roteiro foi enviado ao produtor Mark Gordon, que o encaminhou a Tom Hanks. Finalmente, foi entregue a Steven Spielberg, que decidiu dirigi-lo. A premissa do filme é ligeiramente baseada no caso real dos irmãos Niland.</p>
        <h2>Ator Cotado:</h2>
        <p>Edward Norton recebeu uma oferta para interpretar o soldado Ryan, mas ele não aceitou o papel.</p>
        <h2>Treinamento Pesado:</h2>
        <p>Todos os atores principais fizeram treinamento de armas, com exceção de Matt Damon, que foi poupado para que os seus colegas utilizassem o ressentimento do set para as cenas dos filme.</p>
        <h2>Figuração:</h2>
        <p>Pessoas com membros amputados foram utilizadas para as cenas de feridos da guerra.</p>
        <h2>Censurado:</h2>
        <p>Como Steven Spielberg se recusou de cortar as cenas violentas, o filme foi banido na Malásia.</p>
        <br>
        <h2>Fotos:</h2>
    </div>
    <div class="text">
        <div class="image-container">
            <img src="{% static 'app_01/img/img3.jpg' %}" alt="Imagem do filme">
            <br>
            <img src="{% static 'app_01/img/img4.jpg' %}" alt="Imagem do filme">
            <br>
            <img src="{% static 'app_01/img/img5.jpg' %}" alt="Imagem do filme">
            <br>
            <img src="{% static 'app_01/img/img6.jpg' %}" alt="Imagem do filme">
            <br>
        </div>
    </div>
</body>
</html>